In [83]:
import pandas as pd
import numpy as np

In [84]:
customer_analytics = pd.read_csv('Derived/CustomerAnalytics.csv')
user_cluster = pd.read_csv('Derived/Clustered_Data.csv')

In [85]:
user_cluster = user_cluster[['productid', 'Predicted']]
analysis = user_cluster.set_index('productid').T.to_dict('int')

In [86]:
C_A = customer_analytics.copy()

In [87]:
C_A.head(1)

,CustomerId,0,1,2,3,4,5,6,7,8,...,230,231,232,233,234,235,236,237,238,239
0,18075,12322648,12658444.0,12658492.0,12658364.0,12658272.0,12407738.0,12658394.0,12658304.0,11659810.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
analysis['Predicted'][12322648]

33

In [89]:
cus_id = C_A['CustomerId']
C_A.drop(['CustomerId'], axis=1, inplace=True)

In [91]:
# C_A.replace(np.nan, 0)
np_array = C_A.values
for i in range(np_array.shape[0]):
    for j in range(np_array.shape[1]):
        try:
            np_array[i,j] = analysis['Predicted'][np_array[i,j]]
        except:
            if not np.isnan(np_array[i,j]):
                np_array[i,j] = 37
            
np_array

array([[33., 23., 14., ..., nan, nan, nan],
       [14., 13., 33., ..., nan, nan, nan],
       [14., nan, nan, ..., nan, nan, nan],
       ...,
       [ 3., nan, nan, ..., nan, nan, nan],
       [ 4.,  4.,  4., ..., nan, nan, nan],
       [33., nan, nan, ..., nan, nan, nan]])

In [92]:
output = pd.DataFrame(data=np_array)
out = pd.concat([cus_id, output], axis=1, sort=False)

In [93]:
out.to_csv('CustomerAnalysisGrouping.csv', index=False)

In [95]:
from collections import Counter
cag = out.copy()
cag = cag.fillna('None')
l = []

for i in range(cag.shape[0]):
    c = Counter(cag.iloc[i, 1:])
    d = {}
    for k, v in c.items():
        d[k] = d.setdefault(k, 0) + v
    l.append(d)
    
df = pd.DataFrame(l)
df.shape

(27777, 39)

In [99]:
df.to_csv('EachCluster.csv', index=False)